<html>
<head>
    <title>Ray's Call Network Simulator</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #graph_network {
            width: 60%;
            height: 75%;
            border: 1px solid lightgray;
			margin: 0 auto;
		}
    </style>

    <style type="text/css">
        #parameters {
            border: 1px solid lightgray;
			margin: 0 auto;
			text-align: center;
		}
    </style>

    <style type="text/css">
        #footer_div {
			margin: 0 auto;
			text-align: center;
		}
    </style>

</head>

<body>
 	<h1 align="center">Call Network Simulator</h1>
 	<br>

 	<div id="parameters">
	 	<p1 align="center">Choose two numbers: </p1>

		<select id="number_1">
		</select>

		<select id="number_2">
		</select>

		<p1>Maximum number of links: </p1>
		<select id="links">
		</select>

		<button type="button" onclick="onCheckButtonClick()">Check</button>
		<button type="button" onclick="onResetButtonClick()">Reset</button>
	</div>
	<br>
	<h3 id="result_text" align="center"></h3>
	<div id="graph_network" margin="auto"></div>

	<div id="footer_div">
		<footer>
			<p>Created by: Ray Ng Han Lim</p>
			<p>USM CCS592: Assignment 2</p>
			<p>Contact information: <a href="mailto:nhlhanlim93@gmail.com">nhlhanlim93@gmail.com</a>.</p>
		</footer>
	</div>
 	<script type="text/javascript" src="{{url_for('static', filename='network.js')}}"></script>

 
</body>
</html>